.background-parent,
.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.background-parent {
  align-self: stretch;
  padding: 0 0 133px;
  gap: 64.6px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 100%;
}
.home {
  width: 100%;
  height: 4547px;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  overflow-y: auto;
  padding: 0 0 450px;
  gap: 64px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1300px) {
  .background-parent {
    padding-bottom: 86px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .background-parent {
    gap: 32px;
    padding-bottom: 56px;
    box-sizing: border-box;
  }
  .home {
    gap: 32px;
  }
}
@media screen and (max-width: 800px) {
  .background-parent,
  .home {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .background-parent {
    padding-bottom: 36px;
    box-sizing: border-box;
  }
  .home {
    height: auto;
  }
}
