.image-6-layerstyle-icon1 {
  height: 64.3px;
  width: 69.9px;
  position: relative;
}
.horizon1 {
  margin-bottom: -8.400000000000546px;
  text-decoration: none;
  flex: 1;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  white-space: nowrap;
}
.horizon-container {
  align-self: stretch;
  height: 29.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.sim1 {
  text-decoration: none;
  position: relative;
  font-size: 14.1px;
  font-weight: 500;
  color: #929292;
  display: inline-block;
  min-width: 28.5px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  white-space: nowrap;
}
.frame-parent8 {
  align-self: stretch;
  flex-direction: column;
}
.frame-parent8,
.frame-wrapper3,
.image-6-layerstyle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper3 {
  flex: 1;
  flex-direction: column;
  padding: 7.1px 0 0;
}
.image-6-layerstyle-group {
  width: 216px;
  flex-direction: row;
  gap: 13.9px;
}
.link-destinations1 {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 88.3px;
}
.link-what1 {
  flex: 1;
}
.link-about1,
.link-help1,
.link-what1 {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  white-space: nowrap;
}
.link-about1 {
  display: inline-block;
  min-width: 68px;
}
.link-help1 {
  width: 88px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-wrapper4,
.link-destinations-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-destinations-group {
  align-self: stretch;
  flex-direction: row;
  gap: 24px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.frame-wrapper4 {
  flex: 1;
  flex-direction: column;
  padding: 13.5px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.button-download-app {
  height: 48px;
  width: 176.3px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.frame-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 37px;
  max-width: 100%;
}
.header,
.header-inner,
.how-it-works-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.header-inner {
  width: 647.6px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 0 0;
  font-size: 14px;
  color: #000;
  font-family: Roboto;
}
.header,
.how-it-works-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.header {
  background-color: #fff;
  padding: 8px 20px 7.7px;
  gap: 304px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: 28.8px;
  color: #ef420e;
  font-family: Inter;
}
.how-it-works-inner {
  padding: 0 20px 33.3px;
}
.image-6-layerstyle-icon2 {
  height: 64.3px;
  width: 69.9px;
  position: relative;
}
.horizon2 {
  margin-bottom: -8.399999999999977px;
  flex: 1;
  position: relative;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.horizon-frame {
  align-self: stretch;
  height: 29.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.sim2 {
  position: relative;
  font-size: 14.1px;
  font-weight: 500;
  color: #929292;
  display: inline-block;
  min-width: 28.5px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
}
.frame-parent11 {
  align-self: stretch;
  flex-direction: column;
}
.frame-parent11,
.frame-wrapper5,
.image-6-layerstyle-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper5 {
  flex: 1;
  flex-direction: column;
  padding: 7.1px 0 0;
}
.image-6-layerstyle-container {
  width: 216px;
  flex-direction: row;
  gap: 13.9px;
}
.link-about2,
.link-destinations2,
.link-what2 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
.link-destinations2 {
  width: 100.8px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.link-about2,
.link-what2 {
  display: inline-block;
}
.link-what2 {
  flex: 1;
  min-width: 83px;
}
.link-about2 {
  min-width: 72.6px;
}
.link-help2 {
  display: inline-block;
  min-width: 92.6px;
}
.link-become1,
.link-download1,
.link-help2 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.link-download1 {
  width: 118.7px;
  color: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
.link-become1 {
  flex: 1;
  display: inline-block;
  min-width: 85px;
}
.link-destinations-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 31.7px;
}
.frame-parent10,
.frame-wrapper6 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper6 {
  width: 802.4px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 19.5px 0 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.frame-parent10 {
  width: 1168.3px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.separator1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.all-rights-reserved1 {
  flex: 1;
  position: relative;
  line-height: 18px;
  display: inline-block;
  min-width: 78px;
}
.link-privacy1 {
  color: inherit;
  display: inline-block;
  min-width: 81.4px;
}
.button-cookie1,
.link-privacy1,
.link-terms1 {
  position: relative;
  text-decoration: underline;
  line-height: 18px;
}
.link-terms1 {
  color: inherit;
  display: inline-block;
  min-width: 98.8px;
}
.button-cookie1 {
  width: 115.6px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 115.6px;
}
.all-rights-reserved-group,
.frame-wrapper7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.all-rights-reserved-group {
  align-self: stretch;
  flex-direction: row;
  gap: 23.7px;
}
.frame-wrapper7 {
  width: 541.9px;
  flex-direction: column;
  padding: 15.5px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.link-picture-applesvg1,
.link-picture-googlesvg1 {
  align-self: stretch;
  width: 143px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 49px;
}
.link-picture-googlesvg1 {
  width: 162px;
}
.frame-parent12,
.link-picture-applesvg-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.frame-parent12 {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.footer1,
.how-it-works,
.separator-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.separator-group {
  width: 1168px;
  align-items: flex-start;
  gap: 32px;
  max-width: 100%;
  font-size: 12px;
  color: #6c6d75;
  font-family: Roboto;
}
.footer1,
.how-it-works {
  box-sizing: border-box;
}
.footer1 {
  align-self: stretch;
  background-color: #fff;
  align-items: center;
  padding: 37.8px 20px 48px 21px;
  gap: 36.5px;
  max-width: 100%;
  text-align: left;
  font-size: 28.8px;
  color: #ef420e;
  font-family: Inter;
}
.how-it-works {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  overflow-y: auto;
  align-items: flex-start;
  padding: 0 0 0.9px;
  gap: 63.1px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1225px) {
  .link-destinations-group {
    display: none;
  }
  .header {
    gap: 152px;
  }
  .frame-parent10 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame-parent12 {
    flex-wrap: wrap;
  }
  .how-it-works {
    gap: 32px;
  }
}
@media screen and (max-width: 850px) {
  .frame-parent9 {
    gap: 18px;
  }
  .header {
    gap: 76px;
  }
  .all-rights-reserved-group,
  .link-destinations-container {
    flex-wrap: wrap;
  }
  .separator-group {
    gap: 16px;
  }
  .footer1 {
    gap: 18px;
  }
  .how-it-works {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .link-what1 {
    display: none;
  }
  .header {
    gap: 38px;
  }
  .horizon2 {
    font-size: 23px;
  }
  .link-destinations-container {
    gap: 16px;
  }
}
