.border-icon {
  width: 42px;
  height: 42px;
  position: absolute;
  margin: 0 !important;
  top: -132.8px;
  left: 875.5px;
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.img-icon {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 72.9px);
  width: 16px;
  height: 16px;
}
.check-compatibility {
  position: absolute;
  top: 8px;
  left: calc(50% - 48.9px);
  line-height: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 122.2px;
  height: 18px;
}
.button {
  width: 195.8px;
  height: 34px;
  position: relative;
  border-radius: 9999px;
  border: 1px solid #b1b1b4;
  box-sizing: border-box;
  flex-shrink: 0;
  display: none;
  white-space: nowrap;
  z-index: 1;
}
.product-description,
.product-description-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.product-description-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 16.7px 21px;
  max-width: 100%;
}
.product-description {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0.4px;
  gap: 47.3px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 12px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 750px) {
  .product-description {
    gap: 24px;
  }
}
