.empty-step-backgrounds {
  width: 44px;
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.step-1f629f1easvg-icon {
  height: 240px;
  width: 240px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.background1,
.step-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 34px 0 32px;
}
.background1 {
  height: 326px;
  background-color: #3e98b6;
  flex-direction: column;
  padding: 32.3px 31px 263.7px;
  box-sizing: border-box;
  gap: 23.7px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.data-plan-selection,
.horizon-sim-streamlines {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.data-plan-selection {
  width: 279.7px;
  font-size: inherit;
  line-height: 39.2px;
  font-weight: 500;
  font-family: inherit;
}
.horizon-sim-streamlines {
  width: 274px;
  font-size: 20px;
  line-height: 30px;
}
.background,
.background2 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.background2 {
  align-self: stretch;
  background-color: #f7f7f8;
  padding: 31.9px 20px 32.1px 31px;
  gap: 16px;
  debug_commit: bf4bc93;
  font-size: 28px;
  color: #000;
}
.background {
  height: 574.4px;
  width: 368.3px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  padding: 0 0 248.4px;
  box-sizing: border-box;
  text-align: left;
  font-size: 20px;
  color: #6c6d75;
  font-family: Roboto;
}
@media screen and (max-width: 1125px) {
  .background {
    padding-bottom: 161px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .background1 {
    padding-top: 21px;
    padding-bottom: 171px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .empty-step-backgrounds {
    font-size: 16px;
    line-height: 24px;
  }
  .data-plan-selection {
    font-size: 22px;
    line-height: 31px;
  }
  .horizon-sim-streamlines {
    font-size: 16px;
    line-height: 24px;
  }
  .background {
    padding-bottom: 105px;
    box-sizing: border-box;
  }
}
