.heading-213 {
  margin: 0;
  width: 519.2px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.5px;
  line-height: 62.4px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.check-if-your1 {
  text-decoration: underline;
}
.an-esim-plan-with-saily1,
.before-buying-an-esim-plan-ch1 {
  display: block;
}
.before-buying-an-container1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 20px;
  line-height: 30px;
}
.heading-2-how-to-set-up-an-e-group {
  width: 980.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24.7px;
  max-width: 100%;
}
.div3 {
  width: 44px;
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.step-1f629f1easvg-icon2 {
  height: 240px;
  width: 240px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.background16,
.step-1f629f1easvg-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 34px 0 32px;
}
.background16 {
  background-color: #3e98b6;
  flex-direction: column;
  padding: 32.3px 31px 0;
  gap: 23.7px;
}
.data-plan-selection2,
.horizon-sim-streamlines2 {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.data-plan-selection2 {
  width: 279.7px;
  font-size: inherit;
  line-height: 39.2px;
  font-weight: 500;
  font-family: inherit;
}
.horizon-sim-streamlines2 {
  width: 274px;
  font-size: 20px;
  line-height: 30px;
}
.background15,
.background17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.background17 {
  align-self: stretch;
  background-color: #f7f7f8;
  padding: 31.9px 20px 32.1px 31px;
  gap: 16px;
  font-size: 28px;
  color: #000;
}
.background15 {
  width: 368.3px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.div4 {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  min-width: 24.7px;
}
.step-2eb28dc5asvg-icon1 {
  height: 240px;
  width: 240px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.background19,
.step-2eb28dc5asvg-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 32px;
}
.background19 {
  background-color: #3e98b6;
  flex-direction: column;
  padding: 32px 32px 0;
  gap: 24px;
}
.downloading-the-horizon1,
.effortless-app-download1 {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.effortless-app-download1 {
  width: 294.6px;
  font-size: inherit;
  line-height: 39.2px;
  font-weight: 500;
  font-family: inherit;
}
.downloading-the-horizon1 {
  width: 291.6px;
  font-size: 20px;
  line-height: 30px;
}
.background18,
.background20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.background20 {
  align-self: stretch;
  background-color: #f7f7f8;
  padding: 31.9px 20px 32.1px 32px;
  gap: 16px;
  font-size: 28px;
  color: #000;
}
.background18 {
  width: 368.3px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.div5 {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  min-width: 25px;
}
.step-320eb749esvg-icon1 {
  height: 240px;
  width: 240px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.background22,
.step-320eb749esvg-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 32px;
}
.background22 {
  background-color: #3e98b6;
  flex-direction: column;
  padding: 32px 32px 0;
  gap: 24px;
}
.activating-your-horizon1,
.activation-made-easy1 {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.activation-made-easy1 {
  width: 258.3px;
  font-size: inherit;
  line-height: 39.2px;
  font-weight: 500;
  font-family: inherit;
}
.activating-your-horizon1 {
  width: 284.8px;
  font-size: 20px;
  line-height: 30px;
}
.background23 {
  align-self: stretch;
  background-color: #f7f7f8;
  flex-direction: column;
  padding: 31.9px 20px 32.1px 32px;
  gap: 16px;
  font-size: 28px;
  color: #000;
}
.background-parent1,
.background21,
.background23,
.frame-parent40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.background21 {
  width: 368.3px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
}
.background-parent1,
.frame-parent40 {
  max-width: 100%;
}
.background-parent1 {
  width: 1169px;
  overflow-x: auto;
  flex-direction: row;
  gap: 32px;
  font-size: 20px;
  color: #6c6d75;
}
.frame-parent40 {
  flex-direction: column;
  padding: 0 0 32.4px;
  box-sizing: border-box;
  gap: 31.6px;
}
.get-help-with {
  margin: 0;
  width: 464.1px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.26px;
  line-height: 52px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.email-if-you,
.if-you-have {
  display: block;
}
.if-you-have-container1 {
  width: 100%;
}
.if-you-have-container,
.link-supportsailycom {
  margin: 0;
  width: 1029.5px;
  position: relative;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.link-supportsailycom {
  width: 360px;
  font-size: 28px;
  text-decoration: underline;
  line-height: 39.2px;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.paragraphbackground {
  align-self: stretch;
  border-radius: 40px;
  background-color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 20px 40.2px 40px;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
  font-size: 40px;
  color: #fff;
}
.heading-214 {
  margin: 0;
  width: 95px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.5px;
  line-height: 62.4px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.heading-2-faq-parent {
  width: 868px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 21px;
}
.frame-parent39,
.frame-wrapper27,
.heading-2-faq-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper27 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 21px 0 20px;
  box-sizing: border-box;
}
.frame-parent39 {
  width: 1169.5px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 64px;
  text-align: left;
  font-size: 48px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 1300px) {
  .frame-parent39 {
    gap: 32px;
  }
}
@media screen and (max-width: 800px) {
  .heading-213 {
    font-size: 38px;
    line-height: 50px;
  }
  .background-parent1,
  .frame-parent40 {
    gap: 16px;
  }
  .get-help-with {
    font-size: 32px;
    line-height: 42px;
  }
  .heading-214 {
    font-size: 38px;
    line-height: 50px;
  }
  .frame-parent39 {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .heading-213 {
    font-size: 29px;
    line-height: 37px;
  }
  .before-buying-an-container1,
  .div3 {
    font-size: 16px;
    line-height: 24px;
  }
  .data-plan-selection2 {
    font-size: 22px;
    line-height: 31px;
  }
  .div4,
  .horizon-sim-streamlines2 {
    font-size: 16px;
    line-height: 24px;
  }
  .effortless-app-download1 {
    font-size: 22px;
    line-height: 31px;
  }
  .div5,
  .downloading-the-horizon1 {
    font-size: 16px;
    line-height: 24px;
  }
  .activation-made-easy1 {
    font-size: 22px;
    line-height: 31px;
  }
  .activating-your-horizon1 {
    font-size: 16px;
    line-height: 24px;
  }
  .get-help-with {
    font-size: 24px;
    line-height: 31px;
  }
  .if-you-have-container {
    font-size: 16px;
    line-height: 24px;
  }
  .link-supportsailycom {
    font-size: 22px;
    line-height: 31px;
  }
  .heading-214 {
    font-size: 29px;
    line-height: 37px;
  }
}
