.heading-12 {
  width: 358px;
  height: 90.5px;
  position: relative;
  display: none;
  max-width: 100%;
}
.browse-the-world,
.saily {
  margin: 0;
}
.browse-the-world-container1 {
  width: 100%;
}
.browse-the-world-container,
.worldwide-esim-data {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.browse-the-world-container {
  margin: 0;
  width: 706px;
  height: 227px;
  font-size: inherit;
  letter-spacing: -0.75px;
  line-height: 110%;
  font-family: inherit;
  flex-shrink: 0;
  max-width: 100%;
}
.worldwide-esim-data {
  width: 295px;
  line-height: 30px;
}
.enter-country1,
.img-icon34 {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.img-icon34 {
  height: 24px;
  width: 24px;
}
.enter-country1 {
  flex: 1;
  font-weight: 500;
}
.image-wrapper,
.input-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-container {
  align-self: stretch;
  flex-direction: row;
  gap: 8px;
}
.image-wrapper {
  width: 139.3px;
  flex-direction: column;
  padding: 12px 0 0;
  box-sizing: border-box;
}
.background-icon1 {
  height: 48px;
  width: 48px;
  position: relative;
  border-radius: 9999px;
}
.backgroundbordershadow1 {
  align-self: stretch;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.03);
  border-radius: 9999px;
  background-color: #fff;
  border: 1px solid #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 22px 15px 32px;
  gap: 20px;
  font-size: 16px;
  color: #6c6d75;
}
.heading-1-parent,
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.hero-content {
  width: 480px;
  gap: 32px;
  font-size: 20px;
}
.heading-1-parent {
  align-self: stretch;
  overflow: hidden;
  padding: 112px 20px 126px 371px;
  box-sizing: border-box;
  gap: 24px;
  background-image: url(/public/frame-1000006870@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 64px;
  color: #fff;
  font-family: Roboto;
}
@media screen and (max-width: 1125px) {
  .heading-1-parent {
    padding-left: 185px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .browse-the-world-container {
    font-size: 51px;
    line-height: 56px;
  }
  .hero-content {
    gap: 16px;
  }
  .heading-1-parent {
    padding-left: 92px;
    padding-top: 73px;
    padding-bottom: 82px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .browse-the-world-container {
    font-size: 38px;
    line-height: 42px;
  }
  .worldwide-esim-data {
    font-size: 16px;
    line-height: 24px;
  }
  .backgroundbordershadow1 {
    flex-wrap: wrap;
  }
  .heading-1-parent {
    padding-left: 20px;
    box-sizing: border-box;
  }
}
