.unlocking-seamless-connectivit {
  margin: 0;
  width: 487px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.5px;
  line-height: 62.4px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.horizon-sim-revolutionizes {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 20px;
  line-height: 30px;
}
.unlocking-seamless-connectivit-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24.6px;
  max-width: 100%;
  flex-shrink: 0;
}
.button1 {
  width: 256.3px;
  height: 48px;
}
.frame-parent27 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.frame-wrapper19,
.picture-icon3 {
  flex: 1;
  max-width: 100%;
  min-width: 359px;
}
.frame-wrapper19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 0 0;
  box-sizing: border-box;
}
.picture-icon3 {
  height: 552.5px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
}
.frame-parent26 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 64px;
  box-sizing: border-box;
  gap: 64.1px;
  max-width: 100%;
  flex-shrink: 0;
}
.check-our-esim,
.popular-destinations {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.popular-destinations {
  margin: 0;
  width: 489.6px;
  font-size: inherit;
  letter-spacing: -0.5px;
  line-height: 62.4px;
  font-weight: 500;
  font-family: inherit;
  debug_commit: bf4bc93;
}
.check-our-esim {
  width: 424.3px;
  line-height: 30px;
}
.button2 {
  height: 48px;
  width: 202.4px;
}
.check-our-esim-plans-before-yo-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 100%;
  gap: 20px;
  font-size: 20px;
}
.popular-destinations-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.7px;
  max-width: 100%;
}
.link140,
.link141 {
  height: 84px;
  flex: 1;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  min-width: 276px;
  max-width: 100%;
  width: auto;
}
.link141 {
  cursor: pointer;
}
.border-icon41,
.thailand {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.border-icon41 {
  height: 36px;
  width: 36px;
  border-radius: 9999px;
  overflow: hidden;
  object-fit: cover;
  min-height: 36px;
}
.thailand {
  align-self: stretch;
  line-height: 30px;
  font-weight: 500;
}
.border-parent38,
.thailand-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.thailand-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 3px 0 0;
}
.border-parent38 {
  width: 140.8px;
  flex-direction: row;
  gap: 16px;
}
.img-icon44 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: contain;
}
.img-wrapper39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 8px;
}
.link-parent37,
.link142 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.link142 {
  flex: 1;
  border-radius: 12px;
  background-color: #f7f7f8;
  align-items: flex-end;
  justify-content: space-between;
  padding: 24px;
  box-sizing: border-box;
  min-width: 276px;
  gap: 20px;
}
.link-parent37 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32.1px;
  font-size: 20px;
}
.frame-parent28,
.heading-26 {
  display: flex;
  flex-shrink: 0;
  max-width: 100%;
}
.frame-parent28 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 64px;
  box-sizing: border-box;
  gap: 64px;
}
.heading-26 {
  margin: 0;
  width: 401px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.5px;
  line-height: 62.4px;
  font-weight: 500;
  font-family: inherit;
  align-items: center;
}
.an-esim-or,
.overall-esims-represent {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 30px;
}
.an-esim-or-embedded-sim-is-a-parent {
  width: 566px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30.1px;
  min-width: 566px;
  max-width: 100%;
  font-size: 20px;
}
.heading-2-what-is-an-esim-parent,
.image-icon {
  align-self: stretch;
  max-width: 100%;
  flex-shrink: 0;
}
.heading-2-what-is-an-esim-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 34.6px;
  box-sizing: border-box;
  gap: 20px;
}
.image-icon {
  height: 554.8px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
}
.esim-or-embedded,
.heading-27 {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.heading-27 {
  width: 580.3px;
  font-size: 48px;
  letter-spacing: -0.5px;
  line-height: 62.4px;
  font-weight: 500;
  font-family: inherit;
}
.esim-or-embedded {
  width: 966.8px;
  line-height: 30px;
}
.skip-the-hassle,
.to-start-using {
  display: block;
}
.to-start-using-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 30px;
}
.heading-2-how-does-an-esim-w-parent {
  width: 985px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 69px;
  box-sizing: border-box;
  gap: 24.7px;
  min-height: 301px;
  max-width: 100%;
  flex-shrink: 0;
  font-size: 20px;
}
.heading-28 {
  margin: 0;
  width: 519.2px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.5px;
  line-height: 62.4px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.check-if-your {
  text-decoration: underline;
}
.an-esim-plan-with-saily,
.before-buying-an-esim-plan-ch {
  display: block;
}
.before-buying-an-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 20px;
  line-height: 30px;
}
.heading-2-how-to-set-up-an-e-parent {
  width: 980.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24.7px;
  max-width: 100%;
}
.div {
  width: 44px;
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.step-1f629f1easvg-icon1 {
  height: 240px;
  width: 240px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.background5,
.step-1f629f1easvg-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 34px 0 32px;
}
.background5 {
  background-color: #3e98b6;
  flex-direction: column;
  padding: 32.3px 31px 0;
  gap: 23.7px;
}
.data-plan-selection1,
.horizon-sim-streamlines1 {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.data-plan-selection1 {
  width: 279.7px;
  font-size: inherit;
  line-height: 39.2px;
  font-weight: 500;
  font-family: inherit;
}
.horizon-sim-streamlines1 {
  width: 274px;
  font-size: 20px;
  line-height: 30px;
}
.background4,
.background6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.background6 {
  align-self: stretch;
  background-color: #f7f7f8;
  padding: 31.9px 20px 32.1px 31px;
  gap: 16px;
  font-size: 28px;
  color: #000;
}
.background4 {
  flex: 1;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  min-width: 276px;
  max-width: 100%;
}
.div1 {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  min-width: 24.7px;
}
.step-2eb28dc5asvg-icon {
  height: 240px;
  width: 240px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.background8,
.step-2eb28dc5asvg-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 32px;
}
.background8 {
  background-color: #3e98b6;
  flex-direction: column;
  padding: 32px 32px 0;
  gap: 24px;
}
.downloading-the-horizon,
.effortless-app-download {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.effortless-app-download {
  width: 294.6px;
  font-size: inherit;
  line-height: 39.2px;
  font-weight: 500;
  font-family: inherit;
}
.downloading-the-horizon {
  width: 291.6px;
  font-size: 20px;
  line-height: 30px;
}
.background7,
.background9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.background9 {
  align-self: stretch;
  background-color: #f7f7f8;
  padding: 31.9px 20px 32px 32px;
  gap: 16.1px;
  font-size: 28px;
  color: #000;
}
.background7 {
  flex: 1;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  min-width: 276px;
  max-width: 100%;
}
.div2 {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  min-width: 25px;
}
.step-320eb749esvg-icon {
  height: 240px;
  width: 240px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.background11,
.step-320eb749esvg-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 32px;
}
.background11 {
  background-color: #3e98b6;
  flex-direction: column;
  padding: 32px 32px 0;
  gap: 24px;
}
.activating-your-horizon,
.activation-made-easy {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.activation-made-easy {
  width: 258.3px;
  font-size: inherit;
  line-height: 39.2px;
  font-weight: 500;
  font-family: inherit;
}
.activating-your-horizon {
  width: 284.8px;
  font-size: 20px;
  line-height: 30px;
}
.background12 {
  align-self: stretch;
  background-color: #f7f7f8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 31.9px 20px 32px 32px;
  gap: 16.1px;
  font-size: 28px;
  color: #000;
}
.background10 {
  flex: 1;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  min-width: 276px;
}
.background-container,
.background10,
.frame-parent25,
.frame-parent29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.background-container {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32.1px;
  font-size: 20px;
  color: #6c6d75;
}
.frame-parent25,
.frame-parent29 {
  flex-direction: column;
}
.frame-parent29 {
  align-self: stretch;
  gap: 31.5px;
  flex-shrink: 0;
}
.frame-parent25 {
  width: 1170px;
  gap: 63.3px;
  text-align: left;
  font-size: 48px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 1225px) {
  .frame-parent26,
  .frame-parent28 {
    gap: 32px;
  }
  .an-esim-or-embedded-sim-is-a-parent {
    flex: 1;
  }
  .heading-2-what-is-an-esim-parent {
    flex-wrap: wrap;
  }
  .frame-parent25 {
    gap: 32px;
  }
}
@media screen and (max-width: 850px) {
  .unlocking-seamless-connectivit {
    font-size: 38px;
    line-height: 50px;
  }
  .frame-parent27 {
    gap: 16px;
  }
  .frame-parent26 {
    gap: 16px;
    padding-bottom: 42px;
    box-sizing: border-box;
  }
  .popular-destinations {
    font-size: 38px;
    line-height: 50px;
  }
  .frame-parent28,
  .link-parent37 {
    gap: 16px;
  }
  .heading-26 {
    font-size: 38px;
    line-height: 50px;
  }
  .an-esim-or-embedded-sim-is-a-parent {
    gap: 15px;
    min-width: 100%;
  }
  .heading-27,
  .heading-28 {
    font-size: 38px;
    line-height: 50px;
  }
  .background-container,
  .frame-parent25,
  .frame-parent29 {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .unlocking-seamless-connectivit {
    font-size: 29px;
    line-height: 37px;
  }
  .horizon-sim-revolutionizes {
    font-size: 16px;
    line-height: 24px;
  }
  .frame-wrapper19,
  .picture-icon3 {
    min-width: 100%;
  }
  .popular-destinations {
    font-size: 29px;
    line-height: 37px;
  }
  .check-our-esim,
  .thailand {
    font-size: 16px;
    line-height: 24px;
  }
  .heading-26 {
    font-size: 29px;
    line-height: 37px;
  }
  .an-esim-or,
  .overall-esims-represent {
    font-size: 16px;
    line-height: 24px;
  }
  .heading-27 {
    font-size: 29px;
    line-height: 37px;
  }
  .esim-or-embedded,
  .to-start-using-container {
    font-size: 16px;
    line-height: 24px;
  }
  .heading-28 {
    font-size: 29px;
    line-height: 37px;
  }
  .before-buying-an-container,
  .div {
    font-size: 16px;
    line-height: 24px;
  }
  .data-plan-selection1 {
    font-size: 22px;
    line-height: 31px;
  }
  .div1,
  .horizon-sim-streamlines1 {
    font-size: 16px;
    line-height: 24px;
  }
  .effortless-app-download {
    font-size: 22px;
    line-height: 31px;
  }
  .div2,
  .downloading-the-horizon {
    font-size: 16px;
    line-height: 24px;
  }
  .activation-made-easy {
    font-size: 22px;
    line-height: 31px;
  }
  .activating-your-horizon {
    font-size: 16px;
    line-height: 24px;
  }
}
