.cell-microsoft,
.data-analytics6 {
  position: relative;
  line-height: 24px;
}
.cell-microsoft {
  display: inline-block;
  min-width: 73.6px;
}
.data-analytics6 {
  width: 75.8px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.en-usprivacystatement,
.httpsprivacymicrosoftcom2 {
  margin: 0;
}
.httpsprivacymicrosoftcom1 {
  line-break: anywhere;
  width: 100%;
}
.httpsprivacymicrosoftcom {
  width: 238.3px;
  position: relative;
  text-decoration: underline;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.please-change-your2,
.settings-to-disable2 {
  display: block;
}
.please-change-your-container5 {
  width: 100%;
}
.please-change-your-container4 {
  margin: 0 !important;
  width: 226.8px;
  position: absolute;
  top: 23.5px;
  right: -123.3px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.row11 {
  width: 1169px;
  background-color: #f7f7f8;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 23.5px 24px 24px;
  box-sizing: border-box;
  position: relative;
  gap: 217.5px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
